dist/
dist
build
/dist
/build
*.spec
updater.log
lab.py
    
# pyinstaller --onefile --noconsole --icon=icon.ico --add-data "icon.ico;." --name=Updater main.py
# pyinstaller --onefile --noconsole --icon=icon.ico --add-data "icon.ico;." --name="Update Notifier" notifier.py
fake_updates.json
